body {
    margin-top: 2rem;
    background-color: lightgrey;
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-blend-mode: darken;
}

.my-background-image {
    background-image: url("/static/img/capitalism.jpg");
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.log-level1 {
    color: blue;
    margin-left: 1em
}

.log-level2 {
    color: green;
    margin-left: 2em
}

.log-level3 {
    color: red;
    margin-left: 3em;
}

.log-level4 {
    margin-left: 4em;
}

.simulation-object {
    color: purple;
}

.quantity-object {
    font-weight: 600;
}