{% extends "base.html" %} {% block content %} {% load app_filters %}
<table id="industry" class="display compact cell-border" style="width:80%">
    <thead>
        <tr class="w3-text-black">
            <th colspan="2">Industry</th>
            {% for stock in industry_headers %}
            <th colspan=2>
                {{ stock.commodity_FK.name}}
            </th>
            {% endfor %}
            <th colspan=2>Other Assets</th>
            <th colspan=2>Output</th>
        </tr>
        <tr class="w3-text-black">
            <th class="p-0">Name</th>
            <th class="p-0">Product</th>
            {% for stock in industry_headers %}
            <th>
                Stock
            </th>
            <th>
                Required
            </th>
            {% endfor %}
            <th>Sales Stocks</th>
            <th>Money Stocks</th>
            <th class="p-0">Scale</th>
            <th class="p-0">Growth Rate</th>
        </tr>
    </thead>
    <tbody>
        {% for industry in industries %}
        <tr>
            <td>{{ industry.name }}</td>
            <td>{{ industry.commodity_FK.name }}</td>
            {% for stock in productive_stocks %} {% if stock.industry_FK.name == industry.name %}
            <td class='dt-body-right'>
                {{ stock.size|has_changed:stock.old_size}}
            </td>
            <td class='dt-body-right'>
                {{ stock.production_requirement}}
            </td>
            {% endif %} {% endfor %}
            <td class='dt-body-right'> {{ industry.industrystock_set.all|sales_filter}} </td>
            <td class='dt-body-right'> {{ industry.industrystock_set.all|money_filter }} </td>
            <td class='dt-body-right'> {{ industry.output_scale }}</td>
            <td class='dt-body-right'> {{ industry.output_growth_rate}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table id="assets" class="display compact cell-border" style="width:80%">
    <thead>
        <tr class="w3-text-black">
            <th>Industry</th>
            <th>Initial Capital</th>
            <th>Work in progress</th>
            <th>Sales Stocks</th>
            <th>Money</th>
            <th>Current capital</th>
            <th>Profit</th>
            <th>Profit Rate</th>
    </thead>
    </tr>
    <tbody>
        {% for industry in industries %}
        <tr>
            <td>{{industry.name}}</td>
            <td class='dt-body-right'>${{industry.initial_capital|has_changed:industry.comparator_initial_capital}}</td>
            <td class='dt-body-right'>${{industry.work_in_progress|has_changed:industry.comparator_work_in_progress}}</td>
            <td class='dt-body-right'>${{ industry.industrystock_set.all|sales_filter }}</td>
            <td class='dt-body-right'>${{ industry.industrystock_set.all|money_filter }}</td>
            <td class='dt-body-right'>${{ industry.current_capital|has_changed:industry.comparator_current_capital }}</td>
            <td class='dt-body-right'>${{ industry.profit|has_changed:industry.comparator_profit }}</td>
            <td class='dt-body-right'>%{{ industry.profit_rate|has_changed:industry.comparator_profit_rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table id="social-class" class="display compact cell-border" style="width:80%">
    <thead>
        <tr class="w3-text-black">
            <th>Social Class</th>
            <th>Population</th>
            <th>Labour Power</th>
            <th>Consumption Goods</th>
            <th>Money</th>
            <th>Consumption Ratio</th>
            <th>Revenue</th>
            <th>Assets</th>
        </tr>
    </thead>
    <tbody>
        {% for social_class in social_classes %}
        <tr>
            <td>{{social_class.name}}</td>
            <td>{{social_class.population}}</td>
            <td class='dt-body-right'> {{ social_class.class_stock.all|sales_filter }}</td>
            <td class='dt-body-right'> {{ social_class.class_stock.all|consumption_filter }}</td>
            <td class='dt-body-right'> {{ social_class.class_stock.all|money_filter }}</td>
            <td class='dt-body-right'> {{social_class.consumption_ratio}}</td>
            <td class='dt-body-right'>{{social_class.revenue}}</td>
            <td class='dt-body-right'>{{social_class.assets}}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

<table id="commodities" class="display compact cell-border" style="width:80%">
    <thead>
        <tr class="w3-text-black">
            <th colspan=4>Basics</th>
            <th colspan=5>Values and Prices</th>
            <th colspan=3>Demand and Supply</th>
        </tr>
        <tr class="w3-text-black">
            <th>Commodity</th>
            <th>Usage</th>
            <th>Origin</th>
            <th>Turnover_time</th>
            <th>Unit value</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Total value</th>
            <th>Total price</th>
            <th>Demand</th>
            <th>Supply</th>
            <th>Allocation Ratio</th>
        </tr>
    </thead>
    <tbody>
        {% for commodity in commodities %}
        <tr>
            <td>{{commodity.name }}</td>
            <td>{{commodity.usage }}</td>
            <td>{{commodity.origin}}</td>
            <td class='dt-body-right'>{{commodity.turnover_time }}</td>
            <td class='dt-body-right'>{{commodity.unit_value }}</td>
            <td class='dt-body-right'>{{commodity.unit_price }}</td>
            <td class='dt-body-right'>{{commodity.size }}</td>
            <td class='dt-body-right'>{{commodity.total_value }}</td>
            <td class='dt-body-right'>{{commodity.total_price }}</td>
            <td class='dt-body-right'>{{commodity.demand|has_changed:commodity.comparator_demand }} </td>
            <td class='dt-body-right'>{{commodity.supply|has_changed:commodity.comparator_supply }} </td>
            <td class='dt-body-right'>{{commodity.allocation_ratio }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %} {% block extra_js %}

<script>
    $(document).ready(function() {
        $('#industry').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });

    });
</script>

<script>
    $(document).ready(function() {
        $('#assets').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
    });
</script>


<script>
    $(document).ready(function() {
        $('#social-class').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
    });
</script>


<script>
    $(document).ready(function() {
        $('#commodities').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
    });
</script>
{% endblock %}