{% extends "base.html" %} {% block content %} {% load app_filters %}

<button type="button">Switch off level 2 (not working yet!) </button>

<table id="log" class="display compact" style="width:80%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Level</th>
            <th>Time Stamp</th>
            <th>Project</th>
            <th>Substate</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for log in log_list %}
        <tr class="toggle-level{{log.level}}">
            <td>{{ log.id}} </td>
            <td>{{ log.level}} </td>
            <td>{{ log.time_stamp_id}} </td>
            <td>{{ log.project_id}} </td>
            <td>{{ log.substate }}</td>
            <td class="pl-{{log.level}}"><span class="log-level{{log.level}}">{{log.message|mark_as_safe }}</span> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} {% block extra_js %}
<script>
    $(document).ready(function() {
        $('#log').DataTable({
            "columns": [{
                "width": "3%"
            }, {
                "width": "2%"
            }, {
                "width": "2%"
            }, {
                "width": "2%"
            }, {
                "width": "91%"
            }, ],
            "paging": false,
            "info": false,
            "borders": false,
            "searching": false
        });
    });
</script>

{% endblock %}