{% extends "base.html" %}
{% block content %}
{% load app_filters %}

<div class="row">
  <p> <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
      data-bs-target=".toggle-level2" aria-expanded=" false"
      aria-controls="toggle-level2">Switch off level 2</button>
  </p>
  <div class="col-sm-12">
    <table id="log" class="table-sm" style="width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Time Stamp</th>
          <th>Project</th>
          <th>Level</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {% for log in log_list %}
        <tr class="toggle-level{{log.level}}">
          <td>{{ log.id}} </td>
          <td>{{ log.time_stamp_id}} </td>
          <td>{{ log.project_id}} </td>
          <td>{{ log.level}} </td>
          <td class="pl-{{log.level}}"><span class="log-level{{log.level}}">{{log.message|mark_as_safe }}</span> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    $('#log').DataTable(
      {
        "columns": [
          { "width": "3%" },
          { "width": "2%" },
          { "width": "2%" },
          { "width": "2%" },
          { "width": "91%" },
        ],
        "paging": false,
        "info": false,
        "borders": false,
        "searching": false
      }
    );
  });
</script>

{% endblock %}