{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-12">
    <table id="stocks" class="table-sm cell-border" style="width:100%">
      <thead>
         <tr>
          <th>Project</th>
          <th>Time Stamp</th>
          <th>Social Class</th>
          <th>Commodity</th>
          <th>Type</th>
          <th>Size</th>
          <th>Demand</th>
          <th>Supply</th>
          <th>Consumption Requirement</th>
          <th>owner</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stock_list %}
        <tr>
          <td> {{ stock.project_FK.id }}</td>
          <td> {{ stock.time_stamp_FK }}</td>
          <td> {{ stock.social_class_FK.name}} </td>
          <td> {{ stock.commodity_FK.name }}</td>
          <td> {{ stock.usage_type }}</td>
          <td> {{ stock.size }}</td>
          <td> {{ stock.demand }} </td>
          <td> {{ stock.supply }} </td>
          <td> {{ stock.consumption_requirement }}</td>
          <td> {{ stock.owner }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    $('#stocks').DataTable(
      {
        "paging": false,
        "info": false
      }
    );
  });
</script>

{% endblock %}