{% extends "base.html" %} {% block content %}

<table id="timestamps" style="width:80%">
    <thead>
        <tr>
            <th>Project</th>
            <th>Time Stamp</th>
            <th>Description</th>
            <th>Period</th>
            <th>ID</th>
            <th>Super State</th>
            <th>Comparator Time Stamp</th>
            <th>MELT</th>
            <th>Population Growth Rate</th>
            <th>Investment Ratio</th>
            <th>Labour Supply Response</th>
            <th>Price Response</th>
            <th>MELT Response</th>
            <th>Currency Symbol</th>
            <th>Quantity Symbol</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
        {% for ts in timestamp_list %}
        <tr>
            <td>{{ ts.project_FK.id }} ({{ts.project_FK.description}}} </td>
            <td>{{ ts.time_stamp}} </td>
            <td>{{ ts.description}} </td>
            <td>{{ ts.period}} </td>
            <td>{{ ts.id }}</td>
            <td>{{ ts.super_state}} </td>
            <td>{{ ts.comparator_time_stamp_FK.id }}({{ ts.comparator_time_stamp_FK.description}}) </td>
            <td>{{ ts.MELT}} </td>
            <td>{{ ts.population_growth_rate}} </td>
            <td>{{ ts.investment_ratio}} </td>
            <td>{{ ts.labour_supply_response}} </td>
            <td>{{ ts.price_response_type}} </td>
            <td>{{ ts.melt_response_type}} </td>
            <td>{{ ts.currency_symbol}} </td>
            <td>{{ ts.quantity_symbol}} </td>
            <td>{{ ts.owner }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#timestamps').DataTable({
            "paging": false,
            "info": false
        });
    });
</script>

{% endblock %}