{% load app_filters %}
{% load control_tags %}
<div class="btn-group">
  <button class="btn btn-secondary btn-sm dropdown-toggle mx-2" type="button" id="dropdownMenuClickable" data-bs-toggle="dropdown"
    data-bs-auto-close="false" aria-expanded="false">
    Circuits
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuClickable">
    {% for key, value in superstates.items %}
    {% if key == active_superstate %}
    <li> <a href= "/super/{{ key }}" class="dropdown-item active " method="get">{{ value }} </a> </li>
    {% else %}
    <li> <div class="dropdown-item" method="get">{{ value }} </div> </li>
    {% endif %}
    {% endfor %}
  </ul>
  <a href="/sub/{% current_substate %}" class="btn btn-secondary btn-sm mx-2" role="button" method="get">Step({% current_substate %})</a>
