<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <div class="btn-group" role="group" aria-label="Main Navigation Bar">
      <a href="{% url 'landing-page' %}" class="btn btn-light btn-sm" role="button">Home</a>
      <a href="{% url 'log' %}" class="btn btn-light btn-sm" role="button">Log (Table)</a>
      <a href="{% url 'log-collapsible' %}" class="btn btn-light btn-sm" role="button">Log (List)</a>
      <a href="{% url 'sandbox' %}" class="btn btn-light btn-sm" role="button">Sandbox</a>
      <a href="{% url 'economy' %}" class="btn btn-light btn-sm" role="button">Economy</a>
      <a href="{% url 'admin:index' %}" class="btn btn-light btn-sm" role="button">Admin</a>
      <a href="{% url 'api-views' %}" class="btn btn-light btn-sm" role="button">API views</a>
      <a href=" {% url 'initialize' %}" class="btn btn-light btn-sm" role="button" method="get">Initialize</a>
    </div> <!-- btn-group -->

    <div class="btn-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickable"
        data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
        Actions
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickable">
        <li><a href=" {% url 'move-one-stamp' %}" class="btn btn-light btn-sm" role="button" method="get">Step</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a href=" {% url 'calculate-demand' %}" class="btn btn-light btn-sm" role="button" method="get">Demand</a></li>
        <li><a href=" {% url 'calculate-supply' %}" class="btn btn-light btn-sm" role="button" method="get">Supply</a></li>
        <li><a href=" {% url 'allocate' %}" class="btn btn-light btn-sm" role="button" method="get">Allocate</a></li>
        <li><a href=" {% url 'trade' %}" class="btn btn-light btn-sm" role="button" method="get">Trade</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a href=" {% url 'produce' %}" class="btn btn-light btn-sm" role="button" method="get">Produce</a></li>
        <li><a href=" {% url 'prices' %}" class="btn btn-light btn-sm" role="button" method="get">Price</a></li>
        <li><a href=" {% url 'reproduce' %}" class="btn btn-light btn-sm" role="button" method="get">Reproduce</a>
        <li><hr class="dropdown-divider"></li>
        </li>
      </ul>
    </div>
  </div>
</nav>