{% load control_tags %}
{% load app_filters %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid bg-light py-1 ">
    <div class="btn-group" role="group" aria-label="Main Navigation Bar">
      <a href="{% url 'landing-page' %}" class="btn btn-light btn-sm" role="button">Home</a>
      <a href="{% url 'log' %}" class="btn btn-light btn-sm" role="button">Log</a>
      <a href="{% url 'sandbox' %}" class="btn btn-light btn-sm" role="button">Sandbox</a>
      <a href="{% url 'admin:index' %}" class="btn btn-light btn-sm" role="button">Admin</a>
      <!-- <a href="{% url 'api-views' %}" class="btn btn-light btn-sm" role="button">API views</a> -->

      <a href="{% url 'initialize' %}" class="btn btn-light btn-sm" role="button" method="get">Initialize</a>
      <a href="{% url 'economy' %}" class="btn btn-light btn-sm" role="button">Economy</a>
      <a href="{% url 'mode' %}" class="btn btn-light btn-sm" role="button">{% logging_mode %}</a>

    </div> <!-- btn-group -->
    <div class="btn-group" role="group" aria-label="Tables navbar">
      <div class="d-flex justify-content-center" style="font-size: .6em">
        <a class="btn btn-outline-dark btn-sm me-1 " href="{% url 'commodities' %}" role="button">Commodities</a>
        <a class="btn btn-outline-dark btn-sm me-1" href="{% url 'industry-stocks' %}" role="button">Industry Stocks</a>
        <a class="btn btn-outline-dark btn-sm me-1" href="{% url 'social-stocks' %}" role="button">Social Stocks</a>
        <a class="btn btn-outline-dark btn-sm me-1" href="{% url 'all-stocks' %}" role="button">All Stocks</a>
        <a class="btn btn-outline-dark btn-sm me-1" href="{% url 'social-classes' %}" role="button">Social Classes</a>
        <a class="btn btn-outline-dark btn-sm me-1" href="{% url 'industries' %}" role="button">Industries</a>
        <a class="btn btn-outline-dark btn-sm me-1" href="{% url 'all-owners' %}" role="button">All Owners</a>
        <a class="btn btn-outline-dark btn-sm me-1" href="{% url 'time-stamps' %}" role="button">Time Stamps</a>
      </div>
    </div>
    <!-- Button Group -->
    {% control_states %}
    {% project_list %}
  </div>
</nav>