{% load control_tags %}
{% load app_filters %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <div class="btn-group" role="group" aria-label="Main Navigation Bar">
      <a href="{% url 'landing-page' %}" class="btn btn-light btn-sm" role="button">Home</a>
      <a href="{% url 'log' %}" class="btn btn-light btn-sm" role="button">Log</a>
      <a href="{% url 'sandbox' %}" class="btn btn-light btn-sm" role="button">Sandbox</a>
      <a href="{% url 'economy' %}" class="btn btn-light btn-sm" role="button">Economy</a>
      <a href="{% url 'admin:index' %}" class="btn btn-light btn-sm" role="button">Admin</a>
      <a href="{% url 'api-views' %}" class="btn btn-light btn-sm" role="button">API views</a>
      <a href="{% url 'initialize' %}" class="btn btn-light btn-sm" role="button" method="get">Initialize</a>
    </div> <!-- btn-group -->

    {% control_states %} 

  </div>
</div>


</nav>