<div class="w3-color-teal w3-small w3-card-4">
    <p style="padding:0px">Choose comparator</p>
    <table id="states" class="display compact">
        <thead>
            <tr>
                <th>Stage</th>
                <th>Step</th>
            </tr>
        </thead>
        <tbody>
            {% for state in states %}
            <tr>
                <td> {{ state.stage}} </td>
                <td> <a class="w3-bar-item w3-small  " style="padding:0px" href="{% url 'comparator-select' state=state.stage step=state.step %}">{{state.step}}</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('#states').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
    });
</script>