<div class="btn-group" role="group" aria-label="Tables navbar">
    <div class="d-flex justify-content-center" style="font-size: .6em">
        <a class="btn btn-secondary mx-1" href="{% url 'commodities' %}" role="button">Commodities</a>
        <a class="btn btn-secondary mx-1" href="{% url 'industry-stocks' %}" role="button">Industry Stocks</a>
        <a class="btn btn-secondary mx-1" href="{% url 'social-stocks' %}" role="button">Social Stocks</a>
        <a class="btn btn-secondary mx-1" href="{% url 'all-stocks' %}" role="button">All Stocks</a>
        <a class="btn btn-secondary mx-1" href="{% url 'social-classes' %}" role="button">Social Classes</a>
        <a class="btn btn-secondary mx-1" href="{% url 'industries' %}" role="button">Industries</a>
        <a class="btn btn-secondary mx-1" href="{% url 'all-owners' %}" role="button">All Owners</a>
        <a class="btn btn-secondary mx-1" href="{% url 'time-stamps' %}" role="button">Time Stamps</a>
    </div>
</div>
<!-- Button Group -->