{% extends "base.html" %} {% load static %} {% load control_tags %} {% load app_filters %} {% block content %}
<div class="w3-container" style="width:70%">
    <h2 class="w3-center"> About this project </h2>
    <div class="w3-card-4 w3-margin w3-padding w3-medium">
        This project provides simulations of a capitalist economy which demonstrate the 'circular flow of income' for a variety of cases that appear in economic theory. The first such are the well-known 'reproduction schemes' offered by Marx in Volume II of capital.
        However they had a predecessor (which Marx discusses) in the Physiocratic model of the exchange between town and country developed by Quesnay; and they had a successor which is in common use in modern times, being the system of National Accounts
        due to Keynes and others and which is commonly taught as the foundation of a normal undergraduate macroeconomics course.Another branch of theory is the 'circuitist' account developed by Graziani and others.
        <br> <br>The reproductions in this model differ both from Keynesian and circuitist systems and from the equilibrium systems commonly presented as Marx's, in both respects coinciding with Marx's own presentation of the subject, but include these
        as special cases.
        <br><br>They may therefore be considered a generalisation of all such theories of the circular flow, not as another special theory. This is why, in our
        <a href="https://www.academia.edu/49503297/A_General_Theory_of_Value_and_Money_part_1">article </a> on the subject, we describe this as a 'general theory' of value, money and the state. The key differences are the following:
        <br> <br>
        <ul>
            <li class="w3-padding-small">
                <strong>Value</strong> - the quantitative representation of the effects of production alone, abstracting from all effects of distribution - is tracked separately from quantity and price. It is not, as in Keynesian systems, reduced to price,its
                monetary measure.
            </li>
            <li class="w3-padding-small">
                The system is not assumed to be in <strong>equilibrium</strong>, the standard paradigm of the modern religion of economics and also of what has become the standard presentation of Marx's approach, which scholars of the <a href="https://www.academia.edu/304345/Marx_and_Non_Equilibrium_Economics"><em>Temporal Single System Interpretation</em> of Marx</a>                (see also
                <a href="https://www.amazon.ca/Reclaiming-Marxs-Capital-Refutation-Inconsistency/dp/073911851X">Reclaiming Marx's <em>Capital</em></a>) term
                <a href="https://journals.sagepub.com/doi/abs/10.1177/0309816809353585">'Marxism without Marx '</a>. To the contrary, we have produced a simulation precisely in order to study, under the most general possible circumstances, the behaviour
                of an economy that meets the criterion of
                <strong>real possible existence</strong>; in contrast with the doctrines of religious economics, which assume <strong>Perfect Markets</strong>, it recognises from the outset that real economies are never in equlibrium and exhibit behaviour
                of crucial importance, but which equilibrium theories cannot capture. These include, critically, the <a href="https://www.academia.edu/6997022/Marxian_Debates_on_the_Falling_Rate_of_Profit_a_primer">declining rate of profit </a> and the
                generation of <a href="https://www.academia.edu/58994474/International_Income_Inequality_introduction_to_special_issue_of_Japanese_Political_Economy">international inequality </a> via the mechanism of unequal exchange.
            </li>
            <li class="w3-padding-small">
                The system implements strict <strong>stock-flow consistency</strong> for quantities, money stocks, and value. Neither things, nor their value, nor money can be created out of nothing, nor destroyed without trace. There is an explanation,
                within the system, for every appearance and disappearance, making impossible the self-deception perpetrated by equilibrium systems, which allow value and money to be created in arbitrary amounts in the transition from one period to the
                next, a fiction that wipes out the dynamic effects leading to the falling profit rate and to unequal exchange.
            </li>
        </ul>
    </div>
</div>

{% endblock %}