{% extends "base.html" %} {% block content %}

<div class="w3-container">
    <div class="w3-medium">
        <ul class="w3-ul w3-card-4">
            <a href="{% url 'project-table-rebuild' %}" class="w3-button w3-small w3-round">Rebuild the project table</a>
            <h4 style="padding-left: 1rem "> Manage Users</h4>
            {% for user in users %}
            <li>
                <a href="/userdetail/{{ user.pk }} ">{{ user }} (Click to delete)</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}