{% extends "base.html" %} {% block content %}
<h3 class="w3-center">Commodities</h3>
<table id="commodities" class="display compact" style="width:80%">
    <thead>
        <tr>
            <th>Time Stamp</th>
            <th>Project</th>
            <th>Name</th>
            <th>Origin</th>
            <th>Usage</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>Price</th>
            <th>Unit Value</th>
            <th>Unit Price</th>
            <th>Turnover Time</th>
            <th>Demand</th>
            <th>Supply</th>
            <th>Allocation Ratio</th>
        </tr>
    </thead>
    <tbody>
        {% for commodity in commodity_list %}
        <tr>
            <td class="w3-center"> {{ commodity.time_stamp_FK.time_stamp}} </td>
            <td class="w3-center"> {{ commodity.time_stamp_FK.project_number}} </td>
            <td> {{ commodity.name }}</td>
            <td> {{ commodity.origin }} </td>
            <td> {{ commodity.usage}} </td>
            <td> {{ commodity.size}} </td>
            <td> {{ commodity.total_value}} </td>
            <td> {{ commodity.total_price}} </td>
            <td> {{ commodity.unit_value }}</td>
            <td> {{ commodity.unit_price}}</td>
            <td> {{ commodity.turnover_time }} </td>
            <td> {{ commodity.demand }} </td>
            <td> {{ commodity.supply }} </td>
            <td> {{ commodity.allocation_ratio }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} {% block extra_js %}

<script>
    $(document).ready(function() {
        $('#commodities').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
    });
</script>

{% endblock %}