{% extends "base.html" %} {% block content %}

<!-- Still trying to figure out how to do this with CSS -->

<div class="container">
    <h1 class="w3-center">Disclaimers (includes privacy policy)</h1>
    <div class="w3-center w3-medium">
        <p> This is an experimental site which is under development. The <a href="https://github.com/axfreeman/capitalism-10.5">code is publicly available</a> on github. Whilst I do everything I can to ensure the integrity and security of the site, therefore,
            for the time being, you use and visit it at your own risk.</p>
        <p> To use the site you will need to sign up and log in. In order to protect against malicious use, you will be asked to supply an email address. Later on, this will be used to confirm the identity of new users and to allow you to change your password
            if you forget it. For now, it's just there so I can contact you if I make changes to the site that will affect you. At present this is the only data I collect, and I will not share it either now or ever with any third party or use it for any
            purpose other than the maintenance of this site. </p>
        <p> Because of the early stage of development, as yet there is no facility for you to remove yourself as a site user, having signed in. If you have signed up to the site but feel the need to be removed from it as a user, I can do that for you on request
            via the email given on the github site above. </p>
        <p> I aim to create a community of simulation users. The experience you have with the site will therefore be valuable, in time. As soon as I can, I'll create a facility for you to save and restore them. Meantime, I'll do my best not to delete any
            work in progress. But if there are major upgrades or changes to the site, it may turn out to be unavoidable. In such cases, I'll try to contact you beforehand to let you know what's about to happen and discuss how it might affect you.

        </p>
        <p> Meantime, thanks for your interest and stay in touch.</p>
    </div>
</div>

{% endblock %}