{% extends "base.html" %} {% block content %} {% load app_filters %}
<h3 class="w3-center">Industries</h3>
<table id="industry" class="display compact" style="width:80%">
    <thead>
        <tr>
            <th>Time Stamp</th>
            <th>Project</th>
            <th>Industry</th>
            <th>Sales Stocks</th>
            <th>Money Stocks</th>
            <th>Initial Capital</th>
            <th>Current Capital</th>
            <th>Scale</th>
            <th>Growth Rate</th>
        </tr>
    </thead>
    <tbody>
        {% for record in industry_list %}
        <tr>
            <td class="w3-center"> {{ record.time_stamp.time_stamp }}</td>
            <td class="w3-center"> {{ record.time_stamp.simulation.project_number}} </td>
            <td> {{ record.name }}</td>
            <td> {{ record.industrystock_set.all|sales_filter }} </td>
            <td> {{ record.industrystock_set.all|money_filter }} </td>
            <td> {{ record.initial_capital }}</td>
            <td> {{ record.current_capital }}</td>
            <td> {{ record.output_scale }}</td>
            <td> {{ record.output_growth_rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} {% block extra_js %}
<script>
    $(document).ready(function() {
        $('#industry').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
    });
</script>
{% endblock %}