{% extends "base.html" %} {% block content %} {% load static %}

<!-- Still trying to figure out how to do this with CSS -->

<style>
    .container {
        position: relative;
    }
    
    .center {
        position: fixed;
        top: 30%;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
</style>



<div class="container">
    <img src="{% static 'img/capitalism.jpg' %}" alt="Capitalism" width="100%">
    <div class="w3-text-white center">
        <h1>Welcome to capitalism</h1>

    </div>
</div>

{% endblock %}
