{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
<div class="w3-container" style="width:30%">

    <h3>Select a Simulation</h3>
    <!-- <div>
        {% if form.errors %} {% for field in form %} {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endfor %} {% endif %}
    </div> -->
    <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <button class="btn btn-primary my-4 " type="submit ">Submit</button>
    </form>


</div>

{% endblock %}