{% extends "base.html" %} {% block content %}
<h3 class="w3-center">Stocks owned by social classes</h3>
<table id="stocks" class="display compact" style="width:80%">
    <thead>
        <tr>
            <th>Project</th>
            <th>Time Stamp</th>
            <th>Social Class</th>
            <th>Commodity</th>
            <th>Type</th>
            <th>Size</th>
            <th>Demand</th>
            <th>Supply</th>
            <th>Consumption Requirement</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stock_list %}
        <tr>
            <td> {{ stock.time_stamp_FK.simulation.project_number }}</td>
            <td> {{ stock.time_stamp_FK.time_stamp }}</td>
            <td> {{ stock.social_class_FK.name}} </td>
            <td> {{ stock.commodity_FK.name }}</td>
            <td> {{ stock.usage_type }}</td>
            <td> {{ stock.size }}</td>
            <td> {{ stock.demand }} </td>
            <td> {{ stock.supply }} </td>
            <td> {{ stock.consumption_requirement }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} {% block extra_js %}

<script>
    $(document).ready(function() {
        $('#stocks').DataTable({
            "paging": false,
            "info": false,
            "searching": false
        });
    });
</script>

{% endblock %}