{% extends "base.html" %} {% load static %} {% load control_tags %} {% load app_filters %} {% block content %}
<div class="w3-container">
    <h1 class="w3-center"> Status 8 February 2020 </h1>
    <h4 class="w3-card-4 w3-margin w3-padding">
        In order to try out these simulations, please sign in and create an account</h4>
    <h4 class="w3-card-4 w3-margin w3-padding">
        When you sign in, a set of simulations will be created which you can see under Tables>Simulations, and a range of menu options will be displayed that allow you to step through any of these, and follow the transactions that take place.</h4>
    <h4 class="w3-card-4 w3-margin w3-padding">
        You can create new simulations based on these templates from the dashboard</h4>
    <h4 class="w3-card-4 w3-margin w3-padding">
        You can also switch between simulations from the dashboard</h4>
    <h4 class="w3-card-4 w3-margin w3-padding">
        To view more detailed information about this simulation package, visit the <a href="https://github.com/axfreeman/capitalism-10.5 ">project github page</a>

</div>

{% endblock %}