{% extends "base.html" %} {% block content %}
<h3 class="w3-center">All stocks</h3>
<table id="stocks" class="display compact" style="width:80%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Time Stamp</th>
            <th>Commodity</th>
            <th>Stock Type</th>
            <th>Stock Owner</th>
            <th>Size</th>
            <th>Last Size</th>
            <th>Value</th>
            <th>Price</th>
            <th>Demand</th>
            <th>Supply</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stock_list %}
        <tr>
            <td> {{ stock.id }} </td>
            <td> {{ stock.time_stamp_FK.project_number }}</td>
            <td> {{ stock.time_stamp_FK.time_stamp }}</td>
            <td> {{ stock.commodity_FK.name }}</td>
            <td> {{ stock.usage_type }}</td>
            <td> {{ stock.stock_owner_name }}</td>
            <td>
                {{ stock.size }}
            </td>
            <td> {{ stock.old_size }}</td>
            <td> {{ stock.value}}</td>
            <td> {{ stock.price}}</td>
            <td> {{ stock.demand }}</td>
            <td> {{ stock.supply }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} {% block extra_js %}
<script>
    $(document).ready(function() {
        $('#stocks').DataTable({
            "paging": false,
            "info": false,
            "searching": false
        });
    });
</script>

{% endblock %}