{% extends "base.html" %} {% block content %}
<h3 class="w3-center">Time Stamps</h3>
<table id="timestamps" class="display compact" style="width:80%">
    <thead>
        <tr>
            <th>Project</th>
            <th>Time Stamp</th>
            <th>Period</th>
            <th>ID</th>
            <th>Stage</th>
            <th>Step</th>
            <th>Comparator Time Stamp</th>
            <th>MELT</th>
            <th>Population Growth Rate</th>
            <th>Investment Ratio</th>
            <th>Labour Supply Response</th>
            <th>Price Response</th>
            <th>MELT Response</th>
            <th>Symbols</th>
        </tr>
    </thead>
    <tbody>
        {% for ts in timestamp_list %}
        <tr>
            <td>{{ ts.project_number }} ({{ts.project_description}}} </td>
            <td>{{ ts.time_stamp}} ({{ ts.step}}) </td>
            <td>{{ ts.period}} </td>
            <td>{{ ts.id }}</td>
            <td>{{ ts.stage}} </td>
            <td>{{ ts.step}} </td>
            <td>{{ ts.comparator_time_stamp_FK.id }}({{ ts.comparator_time_stamp_FK.step}}) </td>
            <td>{{ ts.MELT}} </td>
            <td>{{ ts.population_growth_rate}} </td>
            <td>{{ ts.investment_ratio}} </td>
            <td>{{ ts.labour_supply_response}} </td>
            <td>{{ ts.price_response_type}} </td>
            <td>{{ ts.melt_response_type}} </td>
            <td>{{ ts.quantity_symbol}} {{ ts.currency_symbol}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} {% block extra_js %}
<script>
    $(document).ready(function() {
        $('#timestamps').DataTable({
            "columns": [{
                "width": "20%"
            }, {
                "width": "10%"
            }, {
                "width": "3%"
            }, {
                "width": "3%"
            }, {
                "width": "10%"
            }, {
                "width": "3%"
            }, {
                "width": "7%"
            }, {
                "width": "3%"
            }, {
                "width": "3%"
            }, {
                "width": "10%"
            }, {
                "width": "10%"
            }, {
                "width": "9%"
            }, {
                "width": "9%"
            }, ],
            "info": false
        });
    });
</script>
{% endblock %}