{% extends "base.html" %} {% block content %} {% load app_filters %}

<style>
    .trace-level1 {
        color: blue;
        margin-left: 1em
    }
    
    .trace-level2 {
        color: green;
        margin-left: 2em
    }
    
    .trace-level3 {
        color: red;
        margin-left: 3em;
    }
    
    .trace-level4 {
        margin-left: 4em;
    }
    
    .simulation-object {
        color: purple;
    }
    
    .quantity-object {
        font-weight: 600;
    }
</style>

<button type="button">Switch off level 2 (not working yet!) </button>

<table id="trace" class="display compact" style="width:80%">
    <thead>
        <tr>
            <th>Time Created</th>
            <th>Stamp id</th>
            <th>Period.Stage.Step</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for trace in trace_list %}
        <tr class="toggle-level{{trace.level}}">
            <td>{{trace.real_time }} </td>
            <td>{{ trace.time_stamp_id }} </td>
            <td>{{ trace.period }}.{{ trace.stage }}.{{ trace.step }}</td>
            <td class="pl-{{trace.level}}"><span class="trace-level{{trace.level}}">{{trace.message|mark_as_safe }}</span> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} {% block extra_js %}
<script>
    $(document).ready(function() {
        $('#trace').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
    });

    // The below produces an error 'col is undefined'
    // $(document).ready(function() {
    //     $('#trace').DataTable({
    //         "columns": [{
    //             "width": "4%"
    //         }, {
    //             "width": "2%"
    //         }, {
    //             "width": "2%"
    //         }, {
    //             "width": "2%"
    //         }, {
    //             "width": "5%"
    //         }, {
    //             "width": "5%"
    //         }, {
    //             "width": "81%"
    //         }, ],
    //         "paging": false,
    //         "info": false,
    //         "borders": false,
    //         "searching": false
    //     });
    // });
</script>

{% endblock %}