{% extends "base.html" %} {% block content %}

<p>
    <div class="w3-container" style="width:50%">
        <p>
            <div class="w3-medium ">
                <h4>Project Management (Under Development)</h4>
                <h4>red=proceed with caution</h4>
                <h4>green=OK; orange = experimental; blue = not done yet)</h4>

                <p>
                    <div class="w3-btn w3-block w3-round w3-red ">
                        <a href="{% url 'initialize' %}">Reinitialize all Simulations</a>
                    </div>
                </p>
                <p>
                    <div class="w3-btn w3-block w3-round w3-green ">
                        <a href="{% url 'create-simulation' %} ">New Simulation</a>
                    </div>
                </p>
                <p>
                    <div class="w3-btn w3-block w3-round w3-green">
                        <a href="{% url 'select-simulation' %}">Switch Simulation</a>
                    </div>
                </p>
                <p>
                    <div class="w3-btn w3-block w3-round w3-blue ">
                        <a href="# ">Restart this Simulation</a>
                    </div>
                </p>
                <p>
                    <div class="w3-btn w3-block w3-round w3-blue ">
                        <a href="# ">Delete this Simulation</a>
                    </div>
                </p>
                <p>
                    <div class="w3-btn w3-block w3-round w3-blue ">
                        <a href="# ">Download this simulation's details</a>
                    </div>
                </p>
                <p>
                    <div class="w3-btn w3-block w3-round w3-blue ">
                        <a href="# ">Upload new simulation details</a>
                    </div>
                </p>

            </div>
        </p>
    </div>
</p>

{% endblock %}