{% extends "base.html" %} {% block content %}

<div class="w3-container">
    <div class="w3-medium">
        <h4>Project Management (Under Development</h4>
        <div class="w3-card">
            New Simulation
        </div>
        <div class="w3-card">
            Switch Simulation
        </div>
        <div class="w3-card">
            Restart this Simulation
        </div>
        <div class="w3-card">
            Delete this Simulation
        </div>
        <div class="w3-card">
            Reinitialize all Simulations
        </div>
        <div class="w3-card">
            Download this simulation's details
        </div>
        <div class="w3-card">
            Upload new simulation details
        </div>

    </div>
</div>

{% endblock %}