{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <table id="commodity" class="table-sm" style="width:100%">
      <thead>
        <tr>
          <th class="p-0">Project</th>
          <th class="p-0">Time stamp</th>
          <th class="p-0">Name</th>
          <th class="p-0">Origin Type</th>
          <th class="p-0">Unit Value</th>
          <th class="p-0">Unit Price</th>
          <th class="p-0">Turnover Time</th>
          <th class="p-0">Function Type</th>
          <th class="p-0">Display Order</th>
          <th class="p-0">Owner</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    var table = $('#commodity').DataTable({
      "serverSide": true,
      "ajax": "/api-tables/commodities/?format=datatables",
      "columns": [
        { "data": "project_FK"},
        { "data": "time_stamp_FK" },
        { "data": "name" },
        { "data": "origin_type" },
        { "data": "unit_value" },
        { "data": "unit_price" },
        { "data": "turnover_time" },
        { "data": "function_type" },
        { "data": "display_order" },
        { "data": "owner" },
      ]
    });
  });
</script>
{% endblock %}