{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Capitalism 10.5</title>
    <meta name="description" content="Capitalism 10.5">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
</head>

<body>
    {% include 'partials/navbar.html' %}
    <div class="w3-container w3-padding-48" style="font-size: .6em;">
        {% block content %}{% endblock %}
    </div>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    {% block extra_js %} {% endblock %}
</body>

</html>