{% load static %} {% load control_tags %} {% load app_filters %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Capitalism 10.5</title>
    <meta name="description" content="Capitalism 10.5">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-light-grey">
            <div class="w3-right">
                {% project_list %} {% control_states %}
                <a href="{% url 'mode' %}" class="w3-button w3-small w3-round" role="button">{% logging_mode %}</a>
                <div class="w3-dropdown-hover">
                    <button class="w3-button w3-small">Tables</button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a class="w3-bar-item w3-button w3-small  " href="{% url 'commodities' %}">Commodities</a>
                        <a class="w3-bar-item w3-button w3-small " href="{% url 'industry-stocks' %}">Industry
                            Stocks</a>
                        <a class="w3-bar-item w3-button w3-small " href="{% url 'social-stocks' %} ">Social Stocks
                        </a>
                        <a class="w3-bar-item w3-button w3-small " href="{% url 'all-stocks' %}" role="button">All
                            Stocks</a>
                        <a class="w3-bar-item w3-button w3-small " href="{% url 'social-classes' %}" role="button">Social
                            Classes</a>
                        <a class="w3-bar-item w3-button w3-small " href="{% url 'industries' %}" role="button">Industries</a>
                        <a class="w3-bar-item w3-button w3-small " href="{% url 'all-owners' %}" role="button">All
                            Owners</a>
                        <a class="w3-bar-item w3-button w3-small " href="{% url 'time-stamps' %}" role="button">Time
                            Stamps</a>
                        <a class="w3-bar-item w3-button w3-small " href="{% url 'sandbox' %}" role="button">Sandbox</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <a href="{% url 'landing-page' %}" class="w3-bar-item w3-button w3-small w3-round" role="button">Home</a>
        <a href="{% url 'log' %}" class="w3-bar-item w3-button w3-small w3-round" role="button">Log</a>
        <a href="{% url 'admin:index' %}" class="w3-bar-item w3-button w3-small w3-round" role="button">Admin</a>
        <a href="{% url 'initialize' %}" class="w3-bar-item w3-button w3-small w3-round" role="button" method="get">Initialize</a>
        <a href="{% url 'economy' %}" class="w3-bar-item w3-button w3-small w3-round" role="button">Economy</a>
    </div>
    <!-- navbar -->
    <div style="margin-left:25%">
        <div class="w3-container w3-padding-24" style="font-size: .6em;">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    {% block extra_js %} {% endblock %}
</body>

</html>